<div class="canvas-wrapper">
</div>

<!-- <div class="health-bars">
  <div class="knight-health-bar">
    <img src="<%= asset_path "knight_idle_0_right.png" %>" alt="knight">
    100%
  </div>
  <div class="viking-health-bar">
    100%
    <img src="<%= asset_path "knight_idle_0_left.png" %>" alt="knight">
  </div>
</div> -->
