<div class="canvas-wrapper">
  <div class="info">
    <span class="knight-info">
      <img src="<%= asset_path "knight_idle_0_right.png" %>" alt="knight">
      <span class="health-bar-container knight-health-bar-container">
        <span class='knight-health-bar health-bar'></span>
      </span>
      <div class="swords">
      </div>
    </span>
    <span class="viking-info">
      <div class="axes">
      </div>
      <span class="health-bar-container viking-health-bar-container">
        <span class='viking-health-bar health-bar'></span>
      </span>
      <img src="<%= asset_path "viking_idle_0_left.png" %>" alt="knight">
    </span>
  </div>
</div>

<div class="victory-announcement modal">
  Doodle Loo
</div>

<div class="welcome-screen modal">
  <button class='start-game'>Start Game</button>
</div>

<div class="directions">
  <div class="knight-directions">
    <div class="key">
      ~<br>
      `
    </div>
    <div class="key">
      !<br>
      1
    </div>
    <div class="key">
      &#0020;<br>
      A
    </div>
    <div class="key">
      &#0020;<br>
      D
    </div>
  </div>

  <div class="viking-directions">
    <div class="key">
      <<br>
      ,
    </div>
    <div class="key">
      ><br>
      .
    </div>
    <div class="key">
      &#0020;<br>
      &#8678;
    </div>
    <div class="key">
      &#0020;<br>
      &#8680;
    </div>
  </div>
</div>
