/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

canvas {
  display: block;
}

.canvas-wrapper {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  background-image: image-url("background.png");
  background-size: cover;
}

.info {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

.info img {
  opacity: 0.8;
  width: 50px;
  height: 50px;
}

.info img.info-img {
  margin-top: 12.5px;
  width: 25px;
  height: 25px;
}

.knight-info, .viking-info {
  color: #27ae60;
  font-family: sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.health-bar-container {
  display: flex;
  width: 200px;
  background: #c0392b;
  margin: 0 10px;
}

.knight-health-bar-container {
  justify-content: flex-start;
}

.viking-health-bar-container {
  justify-content: flex-end;
}

.health-bar {
  width: 200px;
  background: #27ae60;
  height: 20px;
}

// --------- weapons ---------

.swords, .axes {
  color: #e74c3c;
}

.swords img, .axes img {
  width: 25px;
  height: 25px;
  opacity: 0.8;
}

// --------- modal ---------

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: white;
  background: rgba(75, 75, 75, 0.8);
}

// --------- victory-announcement ---------

.victory-announcement {
  height: 250px;
  width: 750px;
  border-radius: 20px;
  visibility: hidden;
  z-index: 1000;
}

// --------- welcome-screen ---------

.welcome-screen {
  visibility: visible;
  z-index: 200;
  height: 660px;
  width: 1200px;
}

.start-game {
  visibility: hidden;
  background: #2980b9;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 25px;
  font-weight: 100;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.start-game:hover {
  background: #3498db;
}

// --------- directions ---------

.directions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  height: 75px;
  width: 900px;
  border-radius: 20px;

}

.key {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border: 1px solid rgba(256, 256, 256, 0.8);
  color: rgba(256, 256, 256, 0.8);
  border-radius: 20px;
  z-index: 300;
}
